<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.model.dao.ReviewDao">
	
	<insert id="insertReview" parameterType="review" useGeneratedKeys="true" keyProperty="no">
		INSERT into review (user_id, title, content, date)
		VALUES (#{userId}, #{title}, #{content}, now());
	</insert>
	
	<insert id="insertRoutine" parameterType="routine">
		INSERT into routine (review_no, video_no, difficulty)
		VALUES (#{reviewNo}, #{videoNo}, #{difficulty})
	</insert>
	
	<delete id="deleteReview">
		DELETE FROM review
		WHERE no = #{no}
	</delete>
	
	<update id="updateReview" parameterType="review">
		UPDATE review
		SET title = #{title}, content = #{content}
		where no = #{no}
	</update>
	
	<update id="updateRoutine" parameterType="routine">
		UPDATE routine
		SET difficulty = #{difficulty}
		WHERE review_no = #{reviewNo}
		AND video_no = #{videoNo}
	</update>
	
	<select id="selectReviews" resultType="review">
		SELECT no, user_id userId, title, content, date
		FROM review
		ORDER BY date DESC
	</select>
	
	<select id="selectRoutineByNo" resultType="video">
		SELECT v.no, v.title, v.part_no partNo, v.channel_name channelName, v.url, v.spot_no spotNo 
		FROM video v
		INNER JOIN (
					select video_no
					from routine
					where review_no = #{reviewNo}) r
		ON v.no = r.video_no
	</select>
	
	<select id="selectCommentByNo" resultType="comment">
		SELECT no, review_no reviewNo, user_id userId, comment, date
		FROM comment
		WHERE review_no = #{reviewNo};
	</select>
	
	<insert id="insertComment" parameterType="comment">
		INSERT INTO comment (review_no, user_id, comment, date)
		VALUES
		(#{reviewNo}, #{userId}, #{comment}, now())
	</insert>
	
	<delete id="deleteComment">
		DELETE FROM comment
		WHERE no = #{no};
	</delete>
	
	<update id="updateComment">
		UPDATE comment
		SET comment = #{comment}
		WHERE no = #{no}
	</update>
</mapper>