<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.UserDao">

	<select id="selectUser" resultType="user">
		SELECT id, nickname, introduce
		FROM user
		WHERE id = #{id}
	</select>
	
	<insert id="insertJjim" parameterType="user">
		INSERT INTO jjim
		VALUES (#{id}, #{videoNo})
	</insert>
	
	<delete id="deleteJjim" parameterType="user">
		DELETE FROM jjim
		WHERE user_id = #{id}
		AND video_no = #{videoNo}
	</delete>

</mapper>