<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.model.dao.VideoDao">

	<select id="selectList" resultType="video">
		SELECT no, title, part_no partNo, channel_name channelName, url, spot_no spotNo
		FROM video
	</select>

	<select id="selectOne" resultType="video">
		SELECT no, title, part_no partNo, channel_name channelName, url, spot_no spotNo
		FROM video
		WHERE no = #{no}
	</select>
	
	<select id="selectListByPart" resultType="video">
		SELECT no, title, part_no partNo, channel_name channelName, url, spot_no spotNo
		FROM video
		WHERE part_no = #{partNo}
	</select>
	
</mapper>